<mat-toolbar>
  <mat-toolbar-row>
    <a  mat-button  [matMenuTriggerFor]="users" routerLink="/candidates-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage Users</a>
    <mat-menu #users="matMenu">
      <a mat-menu-item routerLink="/create-candidate" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Candidate</a>
      <a mat-menu-item routerLink="/adminuser-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add User</a>
      <a mat-menu-item routerLink="/candidates-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">View Candidate</a>
    </mat-menu>
    <a  mat-button  [matMenuTriggerFor]="questions" routerLink="/manage-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage Questions</a>
    <mat-menu #questions="matMenu">
      <a mat-menu-item  routerLink="/manage-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Question</a>
      <a mat-menu-item  routerLink="/manage-questionbank-bulk" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Bulk Question</a>
      <a mat-menu-item  routerLink="/view-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active"> View Question</a>
    </mat-menu>
    <a  mat-button  [matMenuTriggerFor]="metadata" routerLink="/jrss-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage Metadata</a>
    <mat-menu #metadata="matMenu">
      <a mat-menu-item  routerLink="/jrss-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Job Role</a>
      <a mat-menu-item  routerLink="/stream-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Technology Stream</a>
      <a mat-menu-item  routerLink="/testconfig-add" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Test Configuration</a>
    </mat-menu>
    <a  mat-button  routerLink="/workflow-config" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage WorkFlows</a>
    <a  mat-button  [matMenuTriggerFor]="openpositions" routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage OpenSeats</a>
    <mat-menu #openpositions="matMenu">
      <a mat-menu-item routerLink="/openpositions-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Open Seat</a>
      <a mat-menu-item routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">View Open Seats</a>
    </mat-menu>
    <a  mat-button  routerLink="/view-testresults" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Test Results</a>
    <a  mat-button  routerLink="/login-component" routerLinkActive="active">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
<div class="float-left text-left">
  <h4 class="my-0 mr-md-auto font-weight-normal">View Results</h4></div>
<br/><br>
<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="example-card-title">Search</mat-card-title>
  </mat-card-header>
  <table>
    <tr>
      <td>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value,'employeeName')" placeholder="Name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value,'userName')" placeholder="Email">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value,'JRSS')" placeholder="Job Role">
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-card>
<br>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let row;let i = index">{{i+1}}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="result_users[0].employeeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Candidate Name </th>
      <td mat-cell *matCellDef="let row"><a href="#myModal" (click)="getCandidateDetails(row.userName)" class="col-4 cursor-pointer" data-toggle="modal" >{{row.result_users[0].employeeName}}</a>
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
      <td mat-cell *matCellDef="let row">{{row.userName}}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="employeeNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee No. </th>
      <td mat-cell *matCellDef="let row"> </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="result_users[0].JRSS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
      <td mat-cell *matCellDef="let row">{{row.result_users[0].JRSS}}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="quizNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attempt No. </th>
      <td mat-cell *matCellDef="let row"> {{row.quizNumber}}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="userScore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Result </th>
      <td mat-cell *matCellDef="let row"> <a href="#assessmentModal"  (click)="getCandidateAssessmentDetails(row.userName,row.quizNumber,row.result_users[0].employeeName,row.userScore,row.createdDate)" class="col-4 cursor-pointer" data-toggle="modal" *ngIf="row.userScore!=null">{{row.userScore}}%</a><p *ngIf="row.userScore==null">&nbsp;&nbsp;&nbsp;&nbsp;N/A</p>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
  </table>
  <mat-paginator [length]="this.Result.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<!-- code Start -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header table-success" style="background-color:#f5f5f5;color:black">
        <h4 class="modal-title">View Candidate Details</h4>
        <button type="button"  class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="mode=='displayModalBody'">
        <mat-card>
          <mat-card-content>
            <table>
              <tr>
                <td><mat-label>Name:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].employeeName}}</td>
                <td><mat-label>Email:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].email}}</td>
              </tr>
              <tr *ngIf="displayRegularUIFields">
                <td><mat-label>Band:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].band}}</td>
                <td><mat-label>Job Role:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].JRSS}}</td>
              </tr>
              <tr>
                <td><mat-label>Technology Stream:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].technologyStream}}</td>
                <td><mat-label>Phone Number:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].phoneNumber}}</td>
              </tr>
              <tr>
                <td><mat-label>Status:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].candidate_users[0].status}}</td>
                <td><mat-label>Quiz Attempts:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].candidate_users[0].quizNumber}}</td>
              </tr>
              <tr *ngIf="displayRegularUIFields">
                <td><mat-label>Date of Joining:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].dateOfJoining.split('T')[0]}}</td>
              </tr>
              <tr *ngIf="displayContractorUIFields">
                <td><mat-label>Date of Birth:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].dateOfJoining.split('T')[0]}}</td>
                <td><mat-label>Job Role:</mat-label></td>
                <td>&nbsp;{{this.candidateDetails[0].JRSS}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="modal-footer table-success" style="background-color:#f5f5f5;color:black">
        <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<!-- Below Candidate Assessment Details added by A.George on 29May2020.-->

<!-- Modal Code starts. -->
<div id="assessmentModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div *ngIf="assessmentDetails.quizNumber == this.quizNumber"> -->
      <div class="modal-header table-success" style="background-color:#f5f5f5;color:black">
        <h4 class="modal-title">Candidate Assessment Details</h4>
        <button type="button"  class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" *ngIf="mode=='displayAssessmentModalBody'">
        <mat-card>
          <mat-card-content>
        <table style="table-layout: fixed; width: 100%">
          <thead>
          <tr>
            <td scope="col" width="10%">{{this.userName}}'s answers</td>
            <td scope="col" width="10%">Attempt No : {{this.quizNumber}}</td>
            <td scope="col" width="10%"> Date : {{ this.assesmentDate.substring(0,10) }}</td>
            <td scope="col" width="10%"> Score : {{ this.userScore }}%</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="4" scope="col" style="color:black;font-style: italic;">
              You have correctly answered {{this.correctAnswerCount}} questions out of  {{this.questionCount}}
            </td>
          </tr>
          </tbody>
        </table>
        </mat-card-content>
        </mat-card>
      <br/>
      <div *ngFor="let answer of this.candidateAssessmentDetails.results;let i=index">
        <div *ngFor="let questions of answer.userAttemptedQs" >
          <mat-card>
            <mat-card-content>
          <table  style="table-layout: fixed; width: 100%">
            <tbody>
            <tr>
              <td width="2%">
                <div  *ngIf="answer.userAnswerID==questions.answerID">
                  <img src="assets/images/success.jpg" width="20" height="20"/>
                </div>
                <div  *ngIf="answer.userAnswerID!= questions.answerID">
                  <img src="assets/images/failure.jpg" width="20" height="20"/>
                </div>
              </td><td><b>{{i+1}}){{questions.question}}?</b></td>
            </tr>
            <tr></tr>
            <tr  *ngFor="let questionOption of questions.options;let k=index">
              <td  width="2%"></td>
              <td>{{k+1}}){{questionOption.option}} </td>
            </tr>
            <tr><td  width="2%"></td>
              <td style="color:black">Candidate Answer: {{answer.userAnswerID}}    Correct Answer:  {{questions.answerID}}
              </td></tr>
            <tr></tr>
            </tbody>
          </table>
          </mat-card-content>
        </mat-card>
        </div>
      </div>
      </div>
      <div class="modal-footer table-success" style="background-color:#f5f5f5;color:black">
        <button mat-raised-button color="primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Code Ends.-->



