 <mat-toolbar>
    <mat-toolbar-row>
	<div *ngIf="accessLevel === 'partner'" >
	 <a  mat-button  [matMenuTriggerFor]="ManageOpenSeats" routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Manage Open Seats</a>
      <mat-menu #ManageOpenSeats="matMenu">
        <a mat-menu-item routerLink="/openpositions-create" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Add Open Seat</a>
        <a mat-menu-item routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">View Open Seats</a>
      </mat-menu>
	  
	<a  mat-button   routerLink="/partner-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Partner Interview</a>
	<a  mat-button   routerLink="/operations-candidate-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Project Assignment</a>
	<a  mat-button   routerLink="/open-positions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Open Positions</a>
    <a  mat-button   routerLink="/dashboard" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Dashboard</a>
	<a  mat-button   routerLink="/report" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Report</a>
	</div>
  
	  
	  
	 <div *ngIf="accessLevel === 'management'" >
        <a mat-button routerLink="/operations-candidate-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active"><b>Project Assignment</b></a>
        <a mat-button routerLink="/open-positions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active"><b>Open Positions</b></a>
        <a mat-button routerLink="/viewinterview-status" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active"><b>Exception Approval</b></a>
        <a mat-button routerLink="/dashboard" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active"><b>Dashboard</b></a>
        <a mat-button routerLink="/report" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active"><b>Report</b></a>
  </div>
  
  <span class="flexExpand">
          <a mat-button routerLink="/login-component" routerLinkActive="active">Logout</a>
      </span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<div>
  <app-dashboard-search (groupFilters)="filters = $event"></app-dashboard-search>
  <br/>
  <app-dashboard-list [groupFilters]="filters" [searchByKeyword]="searchText"></app-dashboard-list>
</div>
