<div *ngIf="accessLevel === 'partner'">
  <mat-toolbar>
    <mat-toolbar-row>
      <a mat-button  class="matButtonSpace" routerLink="/partner-list" [state]="{username:this.userName,accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Partner Interview</a>
      <a mat-button  class="matButtonSpace" routerLink="/operations-candidate-list" [state]="{username:this.userName,accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Project Assignment</a>
      <a mat-button  class="matButtonSpace" routerLink="/open-positions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Open Positions</a>
      <a mat-button  class="matButtonSmallSpace" routerLink="/dashboard" [state]="{username:this.userName,accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Dashboard</a>
      <a mat-button  class="matButtonSmallSpace" routerLink="/report" [state]="{username:this.userName,accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Report</a>
      <span class="flexExpand">
          <a mat-button routerLink="/login-component" routerLinkActive="active">Logout</a>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  </div>
  <div *ngIf="accessLevel === 'management'">
    <mat-toolbar>
      <mat-toolbar-row>
        <a  mat-button  class="matButtonLargeSpace" [matMenuTriggerFor]="openpositions" routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Manage OpenSeats</a>
        <mat-menu #openpositions="matMenu">
          <a mat-menu-item routerLink="/openpositions-create" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Add Open Seat</a>
          <a mat-menu-item routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">View Open Seats</a>
        </mat-menu>
        <a mat-button  class="matButtonLargeSpace" routerLink="/operations-candidate-list" [state]="{username:this.userName,accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Project Assignment</a>
        <a mat-button  class="matButtonLargeSpace" routerLink="/open-positions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Open Positions</a>
        <a mat-button  class="matButtonLargeSpace" routerLink="/viewinterview-status" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Exception Approval</a>
        <a mat-button  class="matButtonSmallSpace" routerLink="/dashboard" [state]="{username:this.userName,accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Dashboard</a>
        <a mat-button  class="matButtonSmallSpace" routerLink="/report" [state]="{username:this.userName,accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Report</a>
        <span class="flexExpand">
          <a mat-button routerLink="/login-component" routerLinkActive="active">Logout</a>
      </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
<br>

<div>
  <h4 class="my-0 mr-md-auto font-weight-normal">Open Positions List</h4>
  <br />
</div>
<!-- No data found message -->
<p class="no-data text-center" *ngIf="openPositionsList.length <= 0">There are no open positions</p>
<div class="form-group">
  <!-- Operations candidate list -->
  <table class="table table-bordered">
    <thead class="table-success">
    <tr style="background-color:powderblue">
      <th scope="col center" width="4%">Action</th>
      <th scope="col" width="12%">Open Position</th>
      <th scope="col" width="10%">Position ID</th>
      <th scope="col" width="16%">Job Role</th>
      <th scope="col" width="14%">Line of Business</th>
      <th scope="col" width="14%">Position Location</th>
      <th scope="col" width="15%">Rate Card Role</th>
      <th scope="col" width="20%">Competency Level</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let openPosition of openPositionsList | paginate: {id:'positions_pagination', itemsPerPage:itemsPerPage,
            currentPage:page, totalItems:openPositionsList.length} ">
      <td class="text-center" width="4%">
        <input type="radio" name="jrssSelected"  (change)="jrssSelected=openPosition.JRSS; positionID=openPosition._id">
      </td>
      <td width="12%">{{openPosition.positionName}}</td>
      <td width="10%">{{openPosition.positionID}}</td>
      <td width="16%">{{openPosition.JRSS}}</td>
      <td width="14%">{{openPosition.lineOfBusiness}}</td>
      <td width="14%">{{openPosition.positionLocation}}</td>
      <td width="15%">{{openPosition.rateCardJobRole}}</td>
      <td width="20%">{{openPosition.competencyLevel}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="float-right text-right">
    <span>
        <button type="button" style="background-color:#0043CE;" class="btn btn-success btn-sm"
                (click)="redirectToFindCandidates()">Find Candidate</button>&nbsp;
    </span>
</div>
<div *ngIf="openPositionsList.length > 0">
  <pagination-controls (pageChange)="(page=$event)" id="positions_pagination" directionLinks="true"></pagination-controls>
</div>


<!-- Code Ends.-->
