<mat-toolbar>
  <mat-toolbar-row>
    <a  mat-button class="matButtonLargeSpace" [matMenuTriggerFor]="openpositions" routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Manage OpenSeats</a>
    <mat-menu #openpositions="matMenu">
      <a mat-menu-item routerLink="/openpositions-create" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Add Open Seat</a>
      <a mat-menu-item routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">View Open Seats</a>
    </mat-menu>
    <a  mat-button class="matButtonLargeSpace" routerLink="/operations-candidate-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Project Assignment</a>
    <a  mat-button  class="matButtonLargeSpace" routerLink="/open-positions-list" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Open Positions</a>
    <a  mat-button class="matButtonLargeSpace" routerLink="/viewinterview-status" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Exception Approval</a>
    <a  mat-button class="matButtonSmallSpace" routerLink="/dashboard" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Dashboard</a>
    <a  mat-button class="matButtonSmallSpace" routerLink="/report" [state]="{username:this.userName, accessLevel:this.accessLevel,account:this.account}" routerLinkActive="active">Report</a>
    <span class="flexExpand">
        <a  mat-button  routerLink="/login-component" routerLinkActive="active">Logout</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
  <div class="float-left text-left">
  <h4 class="my-0 mr-md-auto font-weight-normal">Candidates Interview Status</h4></div>
  <br/>
<br/>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Select </th>
      <td mat-cell *matCellDef="let row;let i=index"><mat-radio-button (change)="onSelectionChange(row.canUserId,row.canUserName,row.resultId,i)"></mat-radio-button>
      </td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row">{{row.employeeName}}</td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="JRSS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Role </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.JRSS}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="onlineTestResult">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Online Test Results </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.onlineTestResult}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="technicalInterviewResult">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Technical Interview Result </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.technicalInterviewResult}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="partnerInterviewResult">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Partner Interview Result </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.partnerInterviewResult}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
  </table>
  <table>
    <tr *ngIf="!dataSource.data.length">
      <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
        No Records Found!
      </td>
    </tr>
  </table>
  <mat-paginator [length]="this.exceptionalApprovalList.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
<br/>
<div  class="float-right text-right" *ngIf="exceptionalApprovalList.length > 0">
   <span (click)="exceptionalApproval()">
     <button type="button" mat-raised-button color="primary">Exceptional Approval</button>
   </span>
</div>

