<mat-toolbar  color="primary">
  <mat-toolbar-row>
    <a  mat-button  [matMenuTriggerFor]="users" routerLink="/candidates-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage Users</a>
    <mat-menu #users="matMenu">
      <a mat-menu-item routerLink="/create-candidate" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Candidate</a>
      <a mat-menu-item routerLink="/adminuser-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add User</a>
      <a mat-menu-item routerLink="/candidates-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">View Candidate</a>
    </mat-menu>
    <a  mat-button  [matMenuTriggerFor]="questions" routerLink="/manage-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage Questions</a>
    <mat-menu #questions="matMenu">
      <a mat-menu-item  routerLink="/manage-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Question</a>
      <a mat-menu-item  routerLink="/manage-questionbank-bulk" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Bulk Question</a>
    </mat-menu>
    <a  mat-button  [matMenuTriggerFor]="metadata" routerLink="/jrss-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage Metadata</a>
    <mat-menu #metadata="matMenu">
      <a mat-menu-item  routerLink="/jrss-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Job Role</a>
      <a mat-menu-item  routerLink="/stream-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Technology Stream</a>
      <a mat-menu-item  routerLink="/testconfig-add" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Test Configuration</a>
    </mat-menu>
    <a  mat-button  routerLink="/workflow-config" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage WorkFlows</a>
    <a  mat-button  [matMenuTriggerFor]="openpositions" routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Manage OpenSeats</a>
    <mat-menu #openpositions="matMenu">
      <a mat-menu-item routerLink="/openpositions-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Open Seat</a>
      <a mat-menu-item routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">View Open Seats</a>
    </mat-menu>
    <a  mat-button  routerLink="/view-testresults" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Test Results</a>
    <a  mat-button  routerLink="/login-component" routerLinkActive="active">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
  <div>
    <h4 class="my-0 mr-md-auto font-weight-normal">Workflow Configuration</h4>
    <br/>
    <h6 class="my-0 mr-md-auto font-weight-normal">Please check the required recruitment process stages for the selected Job Role</h6>
    <br/>
  </div>

<mat-card class="login-card">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="workFlowForm">
      <table class="open-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Job Role" required (selectionChange)="updateJrssProfile($event)"
                      formControlName="JRSS" name="JRSS" id="JRSS" required [ngClass]="{ 'is-invalid': submitted && myForm.JRSS.errors }">
                <mat-option value="">Choose...</mat-option>
                <mat-option *ngFor="let jrss of JRSS" value="{{jrss.jrss}}">{{jrss.jrss}}
                </mat-option>
              </mat-select>
              <div *ngIf="submitted && myForm.JRSS.errors" class="invalid-feedback">
                <div *ngIf="myForm.JRSS.errors.required">JRSS is required</div>
              </div>
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <mat-checkbox formControlName="stage1OnlineTechAssessment" name="stage1OnlineTechAssessment" [checked]="stage1">
              Online Technical Assessment
            </mat-checkbox>
        </tr>
        <tr>
            <mat-checkbox (change)="preTechQuestionCheck($event)" formControlName="stage2PreTechAssessment" name="stage2PreTechAssessment" [checked]="stage2">
              Pre-technical Interview Assessment Form
            </mat-checkbox>
        </tr>
        <tr>
            <mat-checkbox formControlName="stage3TechAssessment" name="stage3TechAssessment" [checked]="stage3">
              Technical Interview
            </mat-checkbox>
        </tr>
        <tr>
            <mat-checkbox formControlName="stage4ManagementInterview" name="stage4ManagementInterview" [checked]="stage4">
              Partner Interview
            </mat-checkbox>
        </tr>
        <tr>
            <mat-checkbox formControlName="stage5ProjectAllocation" name="stage5ProjectAllocation" [checked]="stage5">
              Project Assignment
            </mat-checkbox>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="row justify-content-center">
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    </div>
  </mat-card-actions>
</mat-card>       &nbsp;&nbsp;&nbsp;&nbsp;

