<nav class="navbar navbar-expand-lg navbar-light table-success" style="background-color:powderblue">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" routerLink="/candidates-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Manage User</b><span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/create-candidate" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Candidate</a>
          <a class="dropdown-item" routerLink="/adminuser-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add User</a>
          <a class="dropdown-item" routerLink="/candidates-list" [state]="{username:this.userName,account:this.account}" routerLinkActive="active">View Candidate</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/manage-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b>Manage Questions</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/manage-questionbank" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Question</a>
          <a class="dropdown-item" routerLink="/manage-questionbank-bulk" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Bulk Question</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/jrss-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b>Manage Metadata</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/jrss-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Job Role</a>
          <a class="dropdown-item" routerLink="/stream-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Technology Stream</a>
          <a class="dropdown-item" routerLink="/testconfig-add" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Test Configuration</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/workflow-config" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">
          <b>Manage WorkFlow</b>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Manage Open Seats</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/openpositions-create" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">Add Open Seat</a>
          <a class="dropdown-item" routerLink="/openpositions-list" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active">View Open Seats</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-testresults" [state]="{username:this.userName, accessLevel:'admin',account:this.account}" routerLinkActive="active"><b>Test Results</b></a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-component" routerLinkActive="active"><b>Logout</b></a>
      </li>
    </ul>
  </div> 
</nav>
<br/>

<h4 class="my-0 mr-md-auto font-weight-normal">Add Candidate</h4>
<br/>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()" >
        <div class="form-group row">
          <label for="inputName" class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-6">
          <input class="form-control" type="text" formControlName="employeeName" id="inputName" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.employeeName.errors }">
            <div *ngIf="!formReset && submitted && myForm.employeeName.errors" class="invalid-feedback">
              <div *ngIf="myForm.employeeName.errors.required">Name is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmployeeType3" class="col-sm-4 col-form-label">Type</label>
          <div class="col-sm-6">
            <select class="custom-select form-control" (change)="updateEmployeeTypeProfile($event.target.value)"
                    formControlName="employeeType" id="inputEmployeeType3" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.employeeType.errors }">
              <option value="">Choose...</option>
              <option *ngFor="let employeeType of EmployeeType" value="{{employeeType}}">{{employeeType}}
              </option>
            </select>
            <div *ngIf="!formReset && submitted && myForm.employeeType.errors" class="invalid-feedback">
              <div *ngIf="myForm.employeeType.errors.required">User Type is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-6">
          <input class="form-control" type="text" formControlName="email" id="inputEmail3" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.email.errors }">
            <div *ngIf="!formReset && submitted && myForm.email.errors" class="invalid-feedback">
              <div *ngIf="myForm.email.errors.required">Email is required</div>
              <div *ngIf="myForm.email.errors.pattern">Invalid Email</div>
            </div>
          </div>
          <div class="col-sm-6"><i><b><font style="font-size:12px">[This field is used as username.]</font></b></i></div>
        </div>

        <div class="form-group row">
          <label for="inputJRSS3" class="col-sm-4 col-form-label">Job Role</label>
          <div class="col-sm-6">
          <select class="custom-select form-control" (change)="updateJrssProfile($event.target.value)"
                  formControlName="JRSS" id="inputJRSS3" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.JRSS.errors }">
            <option value="">Choose...</option>
            <option *ngFor="let jrss of JRSS" value="{{jrss.jrss}}">{{jrss.jrss}}
            </option>
          </select>
            <div *ngIf="!formReset && submitted && myForm.JRSS.errors" class="invalid-feedback">
              <div *ngIf="myForm.JRSS.errors.required">Job Role is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
            <label for="inputSkill3" class="col-sm-4 col-form-label">Technology Stream</label>
          <div class="col-sm-6">
          <select multiple class="custom-select form-control" id="inputSkill3" formControlName="technologyStream" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.technologyStream.errors }">
              <option value="" disabled>Choose technology stream</option>
              <option *ngFor="let data of technologyStream" [ngValue]="data" >{{data.value}}</option>
           </select> 
            <div *ngIf="!formReset && submitted && myForm.technologyStream.errors" class="invalid-feedback">
            <div *ngIf="myForm.technologyStream.errors.required">Technology Stream is required</div>
            </div>      
          </div>
        </div>

        <div class="form-group row">
          <label for="inputMobile3" class="col-sm-4 col-form-label">Mobile No</label>
          <div class="col-sm-6">
          <input class="form-control" type="text" formControlName="phoneNumber" id="inputMobile3" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.phoneNumber.errors }" maxlength="10" minlength="10">
            <div *ngIf="!formReset && submitted && myForm.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="myForm.phoneNumber.errors.required">Phone Number is required</div>
              <div *ngIf="myForm.phoneNumber.errors.pattern">Invalid Phone Number</div>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="displayContractorUIFields">
          <label for="inputDOJ3" class="col-sm-4 col-form-label">Date of Birth</label>
          <div class="col-sm-6">
            <input class="form-control" type="date" formControlName="dateOfJoining" id="inputDOJ3" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.dateOfJoining.errors }">
            <div *ngIf="!formReset && submitted && myForm.dateOfJoining.errors" class="invalid-feedback">
              <div *ngIf="myForm.dateOfJoining.errors.required">Date Of Birth is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="displayRegularUIFields">
          <label for="inputDOJ3" class="col-sm-4 col-form-label">Date of Joining</label>
          <div class="col-sm-6">
            <input class="form-control" type="date" formControlName="dateOfJoining" id="inputDOJ3" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.dateOfJoining.errors }">
            <div *ngIf="!formReset && submitted && myForm.dateOfJoining.errors" class="invalid-feedback">
              <div *ngIf="myForm.dateOfJoining.errors.required">Date Of Joining is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputAccount3" class="col-sm-4 col-form-label">Account</label>
          <div class="col-sm-6">
          <select class="custom-select form-control" (change)="updateAccountProfile($event.target.value)"
                  formControlName="account" id="inputAccount3" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.account.errors }" >
            <option value="">Choose...</option>
            <option *ngFor="let account of AccountArray" value="{{account}}">{{account}}
            </option>
          </select>
          <div *ngIf="!formReset && submitted && myForm.account.errors" class="invalid-feedback" >
            <div *ngIf="myForm.account.errors.required">Account is required</div>
          </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Candidate Resume</label>
          <div class="col-sm-6">
            <input class="form-control" type="file" formControlName="candidateResume" id="candidateResumeID" (change)="addResume($event)" size="50">
          </div>
        </div>
        <br/>
        <div class="panel-group" *ngIf="displayRegularUIFields">
          <div class="panel panel-default">
            <div class="card-header" style="background-color:powderblue">
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse1" (click)="getOpenPositionDetails()"><b>Calculate Gross Profit(Optional)</b></a>
              </h6>
            </div>
            <div id="collapse1" class="panel-collapse collapse" *ngIf="displayGPCalculate">
              <div class="panel-body">
                <h6><b>Please select Open Position and Candidate details below to calculate Gross Profit</b></h6>
                <br/>
                <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Open Position Details
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Candidate Details</b></p>
                <table>
                  <tbody>
                  <tr>
                    <td width="50%">
                      <div [formGroup]="myOpenPositionGroup" class="form-group row">
                        <label for="inputPositionName" class="col-sm-4 col-form-label">Open Position</label>
                        <div class="col-sm-6">
                          <select class="custom-select form-control" (change)="updateOpenPositionProfile($event.target.value)"
                                  formControlName="positionName" id="inputPositionName" [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.positionName.errors }">
                            <option value="">Choose...</option>
                            <option *ngFor="let data of OpenPositions" value="{{data.positionName}}">{{data.positionName}}</option>
                          </select>
                          <div *ngIf="!formReset && submitted && myOpenForm.positionName.errors" class="invalid-feedback">
                            <div *ngIf="myOpenForm.positionName.errors.required">Open Position is required</div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td width="50%">
                     <div [formGroup]="myOpenPositionGroup" class="form-group row">
                        <label for="inputUserPositionLocation" class="col-sm-4 col-form-label">Candidate Location</label>
                        <div class="col-sm-6">
                          <select class="custom-select form-control" (change)="updateUserPositionLocationProfile($event.target.value)" id="inputUserPositionLocation" formControlName="userPositionLocation"
                                  [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.userPositionLocation.errors }">
                            <option value="">Choose...</option>
                            <option *ngFor="let data of UserPositionLocation" value="{{data.positionLocation}}" >{{data.positionLocation}}</option>
                          </select>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="50%">
                      <div [formGroup]="myOpenPositionGroup" class="form-group row">
                        <label for="inputLineOfBusiness" class="col-sm-4 col-form-label">Line Of Business</label>
                        <div class="col-sm-6">
                          <select class="custom-select form-control"  id="inputLineOfBusiness" formControlName="lineOfBusiness"
                                  [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.lineOfBusiness.errors }">
                            <option *ngFor="let data of LineOfBusiness" value="{{data}}" >{{data}}</option>
                          </select>
                        </div>
                      </div>
                    </td>
                    <td width="50%">
                      <div class="form-group row" *ngIf="displayRegularUIFields">
                        <label for="inputUserLOB" class="col-sm-4 col-form-label">Candidate Line Of Business</label>
                        <div class="col-sm-6">
                          <select class="custom-select form-control" (change)="updateUserLOBProfile($event.target.value)"
                                  formControlName="userLOB" id="inputUserLOB" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.userLOB.errors }">
                            <option value="">Choose...</option>
                            <option *ngFor="let userLOB of UserLOB" value="{{userLOB.lob}}">{{userLOB.lob}}
                            </option>
                          </select>
                          <div *ngIf="!formReset && submitted && myForm.userLOB.errors" class="invalid-feedback">
                            <div *ngIf="myForm.userLOB.errors.required">Candidate Line Of Business is required</div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="50%">
                      <div [formGroup]="myOpenPositionGroup" class="form-group row">
                        <label for="inputPositionLocation" class="col-sm-4 col-form-label">Position Location</label>
                        <div class="col-sm-6">
                          <select class="custom-select form-control" id="inputPositionLocation" formControlName="positionLocation"
                                  [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.positionLocation.errors }">
                            <option *ngFor="let data of PositionLocation" value="{{data}}" >{{data}}</option>
                          </select>
                        </div>
                      </div>
                    </td>
                    <td width="50%">
                      <div class="form-group row" *ngIf="displayRegularUIFields">
                        <label for="inputBand3" class="col-sm-4 col-form-label">Band</label>
                        <div class="col-sm-6">
                          <select class="custom-select form-control" (change)="updateBandProfile($event.target.value)"
                                  formControlName="band" id="inputBand3" [ngClass]="{ 'is-invalid': !formReset && submitted && myForm.band.errors }">
                            <option value="">Choose...</option>
                            <option *ngFor="let band of Band" value="{{band.band}}">{{band.band}}
                            </option>
                          </select>
                          <div *ngIf="!formReset && submitted && myForm.band.errors" class="invalid-feedback">
                            <div *ngIf="myForm.band.errors.required">Band is required</div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="50%">
                      <div [formGroup]="myOpenPositionGroup" class="form-group row">
                        <label for="inputRateCardJobRole" class="col-sm-4 col-form-label">Rate Card Job Role</label>
                        <div class="col-sm-6">
                          <select class="custom-select form-control" formControlName="rateCardJobRole" id="inputRateCardJobRole"
                                  [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.rateCardJobRole.errors }">
                            <option *ngFor="let data of RateCardJobRole" value="{{data}}">{{data}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div [formGroup]="myOpenPositionGroup" class="form-group row" >
                        <label for="inputCompetencyLevel" class="col-sm-4 col-form-label">Competency Level</label>
                        <div class="col-sm-6">
                          <select class="custom-select form-control" id="inputCompetencyLevel" formControlName="competencyLevel"
                                  [ngClass]="{ 'is-invalid': !formReset && submitted && myOpenForm.competencyLevel.errors }">
                            <option *ngFor="let data of CompetencyLevel" value="{{data}}" >{{data}}</option>
                          </select>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="5%">
                    <td width="90%">
                  <div [formGroup]="myOpenPositionGroup" class="form-group row">
                    <label for="inputGP" class="col-sm-4 col-form-label">Gross Profit(%)</label>
                    <div class="col-sm-4">
                      <input class="form-control" readonly type="text" formControlName="grossProfit" id="inputGP">
                    </div>
                    <div>
                      &nbsp;&nbsp;&nbsp;
                      <button style="background-color:#0043CE;" class="btn btn-success btn-sm" type="button" (click)="calculateGP()">Calculate GP</button>
                    </div>
                  </div>
                    </td>
                    <td width="5%">
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <br/>

        <div class="form-group">
          <div class="row justify-content-center">
            <button style="background-color:#0043CE;" class="btn btn-success btn-lg" type="submit">Save</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button style="background-color:#0043CE;" class="btn btn-success btn-lg" type="button" (click)="resetForm()">Reset</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button style="background-color:#0043CE;" class="btn btn-success btn-lg" type="button" (click)="cancelForm()">Cancel</button>
          </div>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
